<script src="../static/script.js"></script>

{% block content %}
  {% if action == 'add' %}
    <form name="passInfo" action="/viewPass" method="POST">
      <p><b>Name:</b><input type="text" value="{{ passName }}" name="passName"/></p>
      <p><b>Username:</b><input type="text" value="{{ passUsername }}" name="passUsername"/></p>
      <p><b>Password:</b><input onLoad="randomPassword(12);" type="text" value="{{ savedPassword }}" name="savedPassword"/></p>
      <input type="button" class="button" value="Generate" onclick="randomPassword(12);" tabindex="2">
      <script>randomPassword(12);</script>
      <p><b>PageURL:</b><input type="text" value="{{ passPageURL }}" name="passPageURL"/></p>
      <p><b>Note:</b><input type="text" value="{{ passNote }}" name="passNote"/></p>
      <input hidden type="text" value="{{ passUUID }}" name="passUUID">
      <input hidden type="text" value="applyAdd" name="action">
      <input type="submit" value="Save password"/>
    </form>
  {% endif %}
{% endblock content %}
<form action="/home">
    <input type="submit" value="Back" />
</form>
