<script>
  function copyToClipboard(x) {
    // Get the text field
    var copyText = document.getElementById(x);

    // Select the text field
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices

     // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.value);

    // Alert the copied text
    alert("Password successfully copied");
  }
</script>


<h1>Welcome to home page</h1>
<h2>Here are your saved passwords:</h2>
{% block content %}
<table border="1">
    {% for item in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ item[2] }}</td>
      <td>{{ item[3] }}</td>
      <td>
        <input hidden type="password" value="{{ item[1] }}" id="{{ loop.index }}">
        <button onclick="copyToClipboard({{ loop.index }})">Copy pass</button>
      </td>
      <td>
        <form action="/viewPass" method="POST">
          <input hidden type="text" value="view" name="action">
          <input hidden type="text" value="{{ item[0] }}" name="passUUID">
          <input type="submit" value="View"/>
        </form>
      </td>
      <td>
        <form onsubmit="return confirm('Are you sure about deleting this record?');" action="/deletePass" method="POST">
          <input hidden type="text" value="delete" name="action">
          <input hidden type="text" value="{{ item[0] }}" name="passUUID">
          <input type="submit" value="Delete password"/>
        </form>
      </td>
    </tr>
    {% endfor %}
<table>
<!--form method="post" action="/">
    <input type="submit" value="VALUE1" name="addData"/>
    <input type="submit" value="VALUE2" name="enableRemove"/>
</form-->
<br>
<form action="/addPass" method="POST">
  <input hidden type="text" value="add" name="action">
  <input type="submit" value="Add password"/>
</form>
{% if session['orgUUID'] %}
<br><br>
<form action="/manageOrg" method="POST">
  <input hidden type="text" value="viewUsers" name="action">
  <input type="submit" value="Manage your organization"/>
</form>
<br>
{% endif %}
<br>
<form action="/logout">
   <input type = "submit" value = "Log out" />
</form>
{% endblock content %}
