<h1>Organization account login panel</h1>
<p><a href="/loginForm">Go to private account login panel</a></p>
<br>

<form action="/orgLogin" method = "POST">
  <p>Organization code <input type = "text" name = "orgUsername"/></p>
  <p>Organization password <input type = "password" name = "orgPassword" /></p>
  <p>Username <input type = "text" name = "username"/></p>
  <p>Password <input type = "password" name = "password" /></p>
  <p><input type = "submit" value = "Log in" /></p>
</form>

<div>
  {% autoescape false %}
  <p>{{ msg }}</p>
  {% endautoescape %}
</div>

<form action="/orgRegisterForm" method = "GET">
  <br>
  <p>Don't have account yet? Ask your organization's admin to create one</p>
  <p>Or create your own organization account</p>
  <p><input type = "submit" value = "Register new organizataion" /></p>
</form>
