<form action="/orgRegister" method = "POST">
  <p>Organization name <input type = "text" name = "orgUsername"/></p>
  <p><input type = "submit" value = "Register" /></p>
</form>
<div>
  {% autoescape false %}
  <p>{{ msg }}</p>
  {% endautoescape %}
  {% block content %}
    {% if error == 0 %}
      <br>
      <form action="/orgLoginForm" method = "GET">
         <p><input type = "submit" value = "Log in here" /></p>
      </form>
    {% else %}
      <form action="/orgLoginForm" method = "GET">
        <br>
        <p>Your organization is already registered?</p>
        <p><input type = "submit" value = "Log in here" /></p>
      </form>
    {% endif %}
  {% endblock content %}
</div>
